.beer {
    margin-Left: 32%;
    margin-top: 5%;
    border: 5px solid rgb(141, 141, 141);
    width: 500px;
    border-radius : 40;

}
body {background-color: rgb(126, 126, 126);}


p {
    text-align: justify;
}

#name {
   font-style: italic;
   font-weight: bold;
   text-align: center;
}

#img {
    text-align: center;
}

table{
    margin-left: 32%;
    margin-top: 5%;
   border-collapse: collapse;
   table-layout: fixed;
   width: 500px;       
}

